VERCEL_API_KEY=""
VERCEL_OIDC_TOKEN=""

# If you choose to use external files for attachments, you will need to configure a Vercel Blob Store.
# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=xxxxxxx

# Required for resumable streams. You can create a Redis store here: https://vercel.com/marketplace/redis
REDIS_URL=xxxxxx


# Suno API 配置
# .env.local
# .env.local
SUNO_API_KEY="4bc77e3c034f74a115c41a426c4dae28"
SUNO_API_BASE_URL="https://api.sunoapi.org"
SUNO_API_PATH="/api/v1/generate"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_cz1mzcIFWgh3pv2r_trcmmEDfE5OE0WMtVp6oBiiCHXyoXK"
